#add-review {
    background: #1e88e5;
    color: white;
    font-size: 24px;
    padding: 10px 20px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 999;
}

#add-review:hover {
    background: #0d47a1;
}

.review-item-wrapper {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 16px;
}

.review-wrapper {
    max-width: 300px;
    max-height: 600px;
    gap: 20px;
    display: flex;
}
  
  .delete-review-btn {
    background-color: #1e88e5;
    color: white;
    border: none;
    font-size: 24px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .delete-review-btn:hover {
    background-color: #0d47a1;
  }
  