<!--reviewpage-->
.review {
    background: white;
    padding: 15px;
    width: 300px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.review h3 {
    color: #444;
}

.review p {
    font-size: 1em;
    color: #666;
}

.review a {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}

.review img {
    width: 100%;
    height: 180px; 
    object-fit: contain; 
    border-radius: 5px;
    display: block;
    margin: 0 auto;
}

.review a:hover {
    text-decoration: underline;
}

.reviews-search input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.game-categories {
    text-align: center;
    margin-bottom: 20px;
}

.game-categories ul {
    display: flex;
    justify-content: center;
    padding: 0;
}

.game-categories ul li {
    list-style: none;
    margin: 0 15px;
}

.game-categories ul li a {
    text-decoration: none;
    font-weight: bold;
    color: #333;
}

.game-reviews {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    background:white;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.reviews-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto); 
    gap: 20px; 
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}